# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
bun.lockb

# Build outputs
dist/
.angular/

# Configuration & Secrets
.env
*.sqlite
*.sqlite-journal
acme.json

# Docker
docker-data/
webmail-db-data/

# IDEs
.idea/
.vscode/
*.swp
*.swo
